{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,  user-scalable=no"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'style/libs.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/main.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
</head>
<body>
<div class="wrapper">
    <div class="main">
        {% block header %}
        хедер
        {% endblock header %}


        {% block content %}
        Контент
        {% endblock content %}

    </div>

    {% block footer %}
        {% include 'footer.html '%}
    {% endblock footer %}
    {% block modals %}

    {% endblock modals %}
    <script src="{% static 'js/libs.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</div>
</body>
</html>