{% load static %}
<footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-3"><a class="logo-footer" href=""><img src="{% static 'images/logo-footer.svg' %}" alt=""/></a>
                    <div class="d-none d-md-block d-lg-none">
                        <ul class="socail">
                            <li class="socail__item"><a class="socail__link"
                                                        href="https://www.instagram.com/oldcraftwool/" target="_blank">
                                <svg class="icon icon-social icon--current">
                                    <use xlink:href="{% static 'images/sprite.svg' %}#icon-instagram"></use>
                                </svg>
                            </a></li>
                            <li class="socail__item"><a class="socail__link"
                                                        href="https://www.facebook.com/oldcraftshop/" target="_blank">
                                <svg class="icon icon-social icon--current">
                                    <use xlink:href="{% static 'images/sprite.svg' %}#icon-facebook"></use>
                                </svg>
                            </a></li>

                            <li class="socail__item"><a class="socail__link"
                                                        href="https://www.youtube.com/channel/UCACOvfwbrZP3p4zACnFFp0g"
                                                        target="_blank">
                                <svg class="icon icon-social icon--current">
                                    <use xlink:href="{% static 'images/sprite.svg' %}#icon-youtube"></use>
                                </svg>
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="politic">Посещая этот сайт, вы принимаете условия <a href="#">Договора оферты</a>
                                <br>и <a href="#">Политику конфиденциальности</a>.</p>
                            <p class="requisites"><span class="d-block d-md-inline">ИП Стариков Михаил Сергеевич</span>
                                <span class="mx-1">ИНН 660609065680</span> Воронеж, Россия</p>
                        </div>
                        <div class="col-lg">
                            <div class="accept-payments"><span>Принимаем платежи:</span><img
                                    src="{% static 'images/accept-payments.svg' %}" alt=""/></div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="message"><a class="message__link" href="">
                                        <svg class="icon icon-messenger">
                                            <use xlink:href="{% static 'images/sprite.svg' %}#icon-facebook-messenger"></use>
                                        </svg>
                                    </a><span>Связь через мессенджеры</span></div>
                                </div>
                                <div class="col-md-auto d-block d-md-none d-lg-block">
                                    <ul class="socail">
                                        <li class="socail__item"><a class="socail__link"
                                                                    href="https://www.instagram.com/oldcraftwool/"
                                                                    target="_blank">
                                            <svg class="icon icon-social icon--current">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-instagram"></use>
                                            </svg>
                                        </a></li>
                                        <li class="socail__item"><a class="socail__link"
                                                                    href="https://www.facebook.com/oldcraftshop/"
                                                                    target="_blank">
                                            <svg class="icon icon-social icon--current">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-facebook"></use>
                                            </svg>
                                        </a></li>

                                        <li class="socail__item"><a class="socail__link"
                                                                    href="https://www.youtube.com/channel/UCACOvfwbrZP3p4zACnFFp0g"
                                                                    target="_blank">
                                            <svg class="icon icon-social icon--current">
                                                <use xlink:href="{% static 'images/sprite.svg' %}#icon-youtube"></use>
                                            </svg>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>