{% extends "base.html" %}

{% block content %}
<div class="content pt-2 pt-lg-0">
    <div class="container-fluid">
        <h1 class="title title--oformlenie text-left mb-4 mb-md-5 mb-lg-3">Checkout</h1>
        <form method="post" name="oformlenie" class="checkout">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <h2 class="sub-title sub-title--oformlenie mb-4 mb-md-5">Location</h2>
                </div>


                <div class="col-lg-12 mb-2" style="">

                    <label class="input">
                        <input class="input__control inpt required" id="location-filter" placeholder="Country"
                               name="string"/>
                        <div class="input__message">Choose your country or US state</div>
                    </label>
                    <div class="col-lg-12 mb-2" id="location-selector"
                         style="position:absolute; background-color: #ffffff;  z-index: 10; margin-top:2px;">
                        <div id="loc-list">
                            <template id="loc-template">
                                <div class="option"></div>
                            </template>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-6 col-4 mb-2 radio__label">Order weight:</div>
                        <div class="col-lg-1 col-md-2 col-sm-3 col-3 mb-2">
                            <label class="input">
                                <input readonly class="input__control float-right" type="text" value="0"
                                       id="weight"/>
                            </label>
                        </div>
                        <div class="col-1">g</div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-6 col-4 mb-2 radio__label">Subtotal:</div>
                        <div class="col-lg-1 col-md-2 col-sm-3 col-3 mb-2">
                            <label class="input">
                                <input readonly class="input__control " type="text" value="0"
                                       id="subtotal"/>
                            </label>
                        </div>
                        <div class="col-1">€</div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-6 col-4 mb-2 radio__label">Shipping cost:</div>
                        <div class="col-lg-1 col-md-2 col-sm-3 col-3 mb-2">
                            <label class="input">
                                <input readonly class="input__control " type="text" value="0"
                                       id="shippingCost"/>
                            </label>
                        </div>
                        <div class="col-1">€</div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-6 col-4 mb-2 radio__label">Total cost:</div>
                        <div class="col-lg-1 col-md-2 col-sm-3 col-3 mb-2">
                            <label class="input">
                                <input readonly class="input__control required" type="text" value="0"
                                       id="totalCost"/>
                            </label>
                        </div>
                        <div class="col-1">€</div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-4 mb-2">
                    <label class="input">
                        <input {% if request.user.is_authenticated %}readonly{% endif%}
                               class="input__control inpt required"
                               type="email" value="{{ request.user.username }}"
                               placeholder="E-mail" id="email"/>
                        <div class="input__message">Email isn't correct</div>
                    </label>
                </div>
                {% if request.user.is_authenticated %}
                <div class="col-lg-2 col-md-4 ">
                    <a class="button button--basket" onclick="logout()">Change email</a>
                </div>
                {% else %}
                <div class="col-lg-2 col-md-4 ">
                    <a class="button button--basket" onclick="getAccess()">Confirm e-mail address</a>
                </div>
                {% endif %}
            </div>

            {% if request.user.is_authenticated %}
            <div class="checkout-body">
                <div class="section-delivery mb-5 mb-md-5 section-delivery--payment">
                    <h2 class="sub-title sub-title--oformlenie mb-4 mb-md-4">Payment method</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-4 col-12">
                                    <label class="radio">
                                        <input type="radio" value="paypal" checked="checked"/>
                                        <div class="radio__control"></div>
                                        <div class="radio__label">PayPal</div>
                                    </label>
                                </div>
                                <div class="col-md col-lg-6">
                                    <div class="content__big">
                                        <p class="mb-0">You will get an invoice</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 ">
                        <h2 class="sub-title sub-title--oformlenie mb-4 mb-md-4">Shipping address</h2>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label class="input ">
                                    <input readonly class="input__control inpt required" type="text"
                                           placeholder="Country"
                                           id="shipping-country" name="string"/>
                                    <div class="input__message">Choose your country or US state at the top part of
                                        page
                                    </div>
                                </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="shipping-first-name"
                                           placeholder="First name" name="string"/>
                                    <div class="input__message">Write your name</div>
                                </label>
                            </div>
                            <div class="col-6 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="shipping-last-name"
                                           placeholder="Last name" name="string"/>
                                    <div class="input__message">Write your last name</div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="shipping-city"
                                           placeholder="City"
                                           name="string"/>
                                    <div class="input__message">Write a city</div>
                                </label>
                            </div>
                            <div class="col-6 mb-2">
                                <label class="input">
                                    <input  class="input__control inpt required" type="text"
                                           id="shipping-index"
                                           placeholder="Post code" name="postcode"/>
                                    <div class="input__message">Write a post code</div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="shipping-address"
                                           name="string" placeholder="Address line"/>
                                    <div class="input__message">Write your address</div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="row">

                            <h2 class="sub-title sub-title--oformlenie mb-4 mb-md-4 col-6">Billing address</h2>
                            <div class="col-6 float-right"><a class=" float-right button button--plain"
                                                              onclick="copyToBilling()">Same as for shipping</a></div>


                        </div>

                        <div class="row">
                            <div class="col-12 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="billing-country"
                                           placeholder="Country"
                                           name="string"/>
                                    <div class="input__message">Write a county</div>
                                </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="billing-first-name"
                                           placeholder="First name" name="string"/>
                                    <div class="input__message">Write payer's name</div>
                                </label>
                            </div>
                            <div class="col-6 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="billing-last-name"
                                           placeholder="Last name" name="string"/>
                                    <div class="input__message">Write payer's last name</div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="billing-city"
                                           placeholder="City"
                                           name="string"/>
                                    <div class="input__message">Write a city</div>
                                </label>
                            </div>
                            <div class="col-6 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="billing-index"
                                           placeholder="Post code"
                                           name="postcode"/>
                                    <div class="input__message">Write a post code</div>
                                </label>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label class="input">
                                    <input class="input__control inpt required" type="text" id="billing-address"
                                           placeholder="Address line" name="string"/>
                                    <div class="input__message">Write payer's address</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-delivery">
                    <h2 class="sub-title sub-title--oformlenie mb-4 mb-md-4">Order details</h2>

                    <div class="row">
                        <div class="col-2 mb-2 radio__label">Phone number</div>
                        <div class="col-lg-1 col-md-1 col-2 mb-2">
                            <input class="input__control inpt required" type="text" id="tel-code" placeholder="+1"
                                   name="telcode"/>
                        </div>
                        <div class="col-lg-4 col-md-6 col-8 mb-2">
                            <label class="input ">
                                <input class="input__control inpt required" type="text" id="tel" placeholder="+1"
                                       name="tel"/>
                                <div class="input__message">Write your phone number</div>
                            </label>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-12 mb-2">
                            <label class="input">
                                <input class="input__control inpt" type="text" id="order-comment"
                                       placeholder="Order comment"
                                       name="string"/>
                            </label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-1 mt-1">
                            <label class="radio">
                                <input type="checkbox" class="inpt required" id="vat" name="vat"/>
                                <div class="radio__control"></div>
                            </label>
                        </div>
                        <div class="col-11 col-lg-9">
                            <div class="content__big">
                                <p id="vat-text" class="mb-0">I am aware that the order’s final cost shown at this page does not
                                    include import customs duties and other fees that my country applies to goods from
                                    Georgia *</p>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="row align-items-start oformlenie-footer pt-1 pt-md-0">
                    <div class="col-lg-2 col-md-4 offset-lg-5 offset-md-4 order-2 order-md-1">
                        <a class="button button--basket" onclick="checkout()">Place an order</a>
                    </div>

                </div>
            </div>
            {% endif %}
            <script>initCheckout()</script>
        </form>
    </div>
</div>
{% include 'modals/loginmodal.html' %}
{% endblock content %}