{% load static %}
<div class="modal-added-item hiden">
            <div class="close" type="button" data-dismiss="modal" aria-label="Close">
            <svg class="icon icon-close">
                <use xlink:href="{% static '/images/sprite.svg' %}#icon-close"></use>
            </svg>
        </div>
    <div class="modal-content2">

        <div class="modal-body">
            <div class="succes-basket">
                <div class="status-done">
                    <svg class="icon icon-done">
                        <use xlink:href="{% static '/images/sprite.svg' %}#icon-done">
                        </use>
                    </svg>
                </div>
                  <div class="status-text">Linen backpack</div>
                  <div class="status-desc">Item added to cart</div>
                  <a class="btn btn-default button" href="/basket/">Go to shopping cart</a>
              </div>
            </div>
    </div>
</div>
