{% load static %}
<div class="modal-added-item hiden">
            <div class="close" type="button" data-dismiss="modal" aria-label="Close">
            <svg class="icon icon-close">
                <use xlink:href="{'/images/sprite.svg'#icon-close"></use>
            </svg>
        </div>
    <div class="modal-content2">
        <div class="modal-body">
            <div class="succes-basket">
                  <div class="status-text">30% discount for delivery price</div>
                  <div class="status-desc">For orders from 310 euro</div>
              </div>
            </div>
    </div>
</div>

