{% extends 'base.html '%}

{% block content %}
<div class="content pt-2 pt-lg-0">
    <div class="container-fluid">

        <h1 class="title text-left mb-2 mb-md-4">{{ title }}</h1>
        <div class="row align-items-center mb-4 mb-lg-0">
            <div class="col-md-7 order-1 order-md-1">
                <div class="content__big">
                    <p>
                        OldCraft is a weaver’s workshop from the city of Tbilisi in Georgia. Since 2011 we have been
                        specializing in manufacturing textile for people who take interest in historical reenactment. It
                        is this specialization that allows us to create unique fabrics and accessories perfectly
                        matching your criteria.<br>
                        The core of our work is producing wool homespun. As we sell it from stock, it means that you
                        won’t have to wait until the order is completed.<br>
                    </p>
                </div>
            </div>
            <div class="col-md-5 order-2 order-md-2 mb-1">
                <img src="/images/about-us.jpg" class="h-100" alt="">
            </div>
        </div>
        <div class="row align-items-lg-center">
            <div class="col-lg-5 col-md-6 order-2 order-md-1">
                <img src="/images/foto-1.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 order-1 order-md-2 offset-0 offset-lg-1">
                <div class="content__big">
                    <p>
                        In addition to weaving we also make clothes, cloaks and other accessories that are most suitable
                        for festivals, hiking and other historical reenactment activities. We have chosen only the most
                        popular and well-grounded items of clothing to match all the formal and informal rules of the
                        historical reenactment community as much as possible.<br>
                        You can check all the available items in our online store catalog<br>
                    </p>
                </div>
            </div>
        </div>
        <br></div>
</div>
{% endblock content %}
